<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
nnnnnnnnn222222222222nnnn2222222222227777777777aaaaaaaaaaaaaaaaaaaaaa
得到请求的资源:<span th:text="${requestUri}"></span><hr/>
得到请求的URL地址:<span th:text="${requestUrl}"></span><hr/>
得到请求的URL地址中附带的参数:<span th:text="${queryString}"></span><hr/>
得到来访者的IP地址:<span th:text="${remoteAddr}"></span><hr/>
得到请求的URL地址:<span th:text="${remoteHost}"></span><hr/>
得到请求的URL地址:<span th:text="${remotePort}"></span><hr/>
得到请求的URL地址:<span th:text="${remoteUser}"></span><hr/>
得到请求URL地址时使用的方法:<span th:text="${method}"></span><hr/>
得到请求的URL地址:<span th:text="${pathInfo}"></span><hr/>
获取WEB服务器的IP地址:<span th:text="${localAddr}"></span><hr/>
获取WEB服务器的主机名:<span th:text="${localName}"></span><hr/>
</body>
</html>